
<!--two way data binding-->
<input   [(ngModel)]="name" type="text">
{{name}}
<br>
<br>
<h1 *ngIf="show; else elseBlock">

  Hello Angular


</h1>
<ng-template #elseBlock>
  <h1>
    Sahan Rajakaruna
  </h1>
</ng-template>



<!--ngIf-->
<div *ngIf="show; then thenB; else elseB"></div>

<ng-template #thenB>
  <h1>
    When True
  </h1>
</ng-template>

<ng-template #elseB>
  <h1>
    When False
  </h1>
</ng-template>



<!--event binding-->
<button (click)="onClick($event,name.value)">Click</button>


<!--ngSwitch-->

<div [ngSwitch]="color">


  <h1 *ngSwitchCase="'red'">You Picked Red </h1>
  <h1 *ngSwitchCase="'green'"> You Picked Green </h1>
  <h1 *ngSwitchCase="'blue'">You Picked Blue </h1>
<h1 *ngSwitchDefault>Pick Color</h1>
</div>




<button (click)="onRedClick()">Red</button>
<button (click)="onGreenClick()">Green</button>
<button (click)="onBlueClick()">Blue</button>
